.prev_skill_section {
  border: 2px white;
  margin-top: 50px;

  @media (min-width: 834px) {
    margin-top: 80px;
  }

  .heading {
    font-size: 20px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      font-size: 22px;
      margin-bottom: 40px;
    }
    @media (min-width: 1440px) {
      font-size: 24px;
    }
  }

  .display_projects {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: 834px) {
      gap: 40px;
    }

    // Parent skill container
    .parent_skill_design {
      position: relative;
      width: auto;
      min-height: 200px;
      padding: 20px;
      overflow: hidden;

      @media (min-width: 480px) {
        width: 300px;
      }
      @media (min-width: 834px) {
        width: 300px;
      }
      @media (min-width: 1300px) {
        width: 360px;
        // margin: 100px auto 0px;
      }

      &.leftbackgound {
        background-color: var(--black2);
      }
      &.rightbackgound {
        background-color: var(--black5);
      }
      .skill_design {
        font-weight: 300;
        .title {
          color: white;
        }
        .short_details {
          color: wheat;
        }
      }

      .popup_design {
        position: absolute;
        top: 0;
        right: -20px;
        width: auto;
        height: 100%;
        backdrop-filter: blur(30px);
        color: white;
        opacity: 0;
        transition: 0.8s;
        z-index: 4;
        padding: 20px 20px 0 40px;

        h4{
          color: #0ef;
        }
      }
      &:hover {
        .popup_design {
          opacity: 1;
          transform: translateX(-20px);
        }
      }
    }
  }

}
