.project_showcase_section {
  width: 100%;
  margin-top: 50px;

  @media (min-width: 768px) {
    margin: 100px auto 0px;
  }

  .heading {
    font-size: 20px;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      font-size: 24px;
      margin-bottom: 40px;
    }
    @media (min-width: 1440px) {
      font-size: 30px;
    }
  }
  .project_display_container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: start;

    @media (min-width: 834px) {
      height: 350px;
      justify-content: space-around;
    }
    @media (min-width: 1024px) {
      height: 500px;
      justify-content: center;
    }
    @media (min-width: 1366px) {
      height: 350px;
      justify-content: space-between;
    }

    .single_column_divider {
      display: block;
      width: 20px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media (min-width: 834px) {
        display: none;
      }
      @media (min-width: 1024px) {
        display: block;
      }
      @media (min-width: 1366px) {
        display: none;
      }

      .single_column_pulse {
        display: block;
        position: relative;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #0ef;

        @media (min-width: 834px) {
          display: none;
        }
        @media (min-width: 1024px) {
          display: block;
        }
        @media (min-width: 1366px) {
          display: none;
        }
      }

      .single_column_ruler {
        width: 2px;
        @media (min-width: 1024px) {
          width: 3px;
        }
        height: calc(100% - 16px);
        background-color: var(--black4);
        margin: 0 auto;
      }
    }

    .project_info_section_small {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 0 0;

      @media (min-width: 834px) {
        display: none;
      }
      @media (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      @media (min-width: 1366px) {
        display: none;
      }

      .project_info {
        width: auto;
        color: white;
        text-align: center;
        font-size: 14px;
        margin: 20px 0 40px;

        @media (min-width: 425px) {
          margin-bottom: 100px;
        }
        @media (min-width: 480px) {
          width: 350px;
        }
        @media (min-width: 1024px) {
          width: 320px;
        }
        @media (min-width: 1366px) {
          width: 350px;
        }

        .title {
          font-weight: 600;
          color: #0ef;
          margin-bottom: 10px;
          line-height: 18px;
          font-size: 16px;

          @media (min-width: 425px) {
            font-size: 18px;
          }
          @media (min-width: 768px) {
            margin-bottom: 20px;
          }
        }

        .details {
          font-weight: 300;
          font-size: 14px;

          @media (min-width: 425px) {
            font-size: 16px;
          }
        }

        .tech {
          margin-top: 10px;
          color: rgba(255, 255, 255, 0.637);
          text-decoration: underline;
        }
        .technology_details {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          .each_tech_section {
            position: relative;
            cursor: pointer;
            margin: 30px 0 10px;

            @media (min-width: 425px) {
              margin: 40px 0 20px;
            }

            .tailwind {
              font-size: 20px;
              @media (min-width: 425px) {
                font-size: 25px;
              }
              color: #0ef;
            }
            .scss {
              font-size: 25px;
              @media (min-width: 425px) {
                font-size: 30px;
              }
              color: #ff80ce;
            }
            .material {
              font-size: 25px;
              @media (min-width: 425px) {
                font-size: 30px;
              }
              height: 30px;
            }
            .react {
              font-size: 20px;
              @media (min-width: 425px) {
                font-size: 25px;
              }
              color: #86e8fc;
            }
            .redux {
              font-size: 20px;
              @media (min-width: 425px) {
                font-size: 25px;
              }
              color: #cd52fa;
            }
            .next {
              font-size: 20px;
              @media (min-width: 425px) {
                font-size: 25px;
              }
              color: white;
            }
            .node {
              font-size: 25px;
              @media (min-width: 425px) {
                font-size: 30px;
              }
              color: #90f542;
            }
            .express {
              font-size: 20px;
              @media (min-width: 425px) {
                font-size: 25px;
              }
              font-weight: bolder;
              color: #f8fc03;
            }
            .mysql {
              font-size: 25px;
              @media (min-width: 425px) {
                font-size: 30px;
              }
              font-weight: bolder;
              color: #fca12b;
            }
            .jwt {
              font-size: 18px;
              @media (min-width: 425px) {
                font-size: 25px;
              }
              color: #fa3e67;
            }
            .socket {
              font-size: 22px;
              @media (min-width: 425px) {
                font-size: 30px;
              }
              color: #0ef;
            }
            .mongodb {
              font-size: 22px;
              @media (min-width: 425px) {
                font-size: 30px;
              }
              color: #90f542;
            }
            .firebase {
              font-size: 20px;
              @media (min-width: 425px) {
                font-size: 25px;
              }
              color: #fab83e;
            }
            .stripe {
              font-size: 25px;
              @media (min-width: 425px) {
                font-size: 30px;
              }
              color: #c186fc;
            }
            .tech_name {
              display: none;
            }
          }
          .each_tech_section:hover {
            .tech_name {
              position: absolute;
              display: block;
              font-size: 12px;
              font-weight: 300;
              left: -3px;
              top: -20px;
              color: rgba(255, 255, 255, 0.637);

              @media (min-width: 425px) {
                font-size: 14px;
              }
              animation: tech_name_anim 0.3s ease-out;
              @keyframes tech_name_anim {
                from {
                  top: -5px;
                  opacity: 0;
                }
                to {
                  top: -20px;
                  opacity: 1;
                }
              }
            }
          }
        }

        .link_section {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;

          .link_decoration {
            text-decoration: none;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            transition: 0.5s;
            margin-left: 4px;
            margin-right: 16px;
            font-size: 14px;
            font-weight: 300;

            @media (min-width: 425px) {
              font-size: 16px;
            }

            &:hover {
              color: #0ef;
            }
          }
        }
      }
    }

    .project_info_section_large {
      width: 100%;
      height: 100%;
      display: none;

      @media (min-width: 834px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }
      @media (min-width: 1024px) {
        display: none;
      }
      @media (min-width: 1366px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
      }

      .multi_column_divider {
        height: 100%;
        display: flex;
        align-items: center;
        display: none;

        @media (min-width: 834px) {
          display: block;
        }
        @media (min-width: 1024px) {
          display: none;
        }
        @media (min-width: 1366px) {
          display: block;
        }

        .multi_column_pulse {
          position: relative;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: #0ef;
        }

        .multi_column_ruler {
          width: 3px;
          height: 100%;
          background-color: var(--black4);
          margin: 0 auto;
        }
      }

      .project_info {
        width: auto;
        color: white;
        text-align: center;
        font-size: 14px;
        margin: 20px 0;
        @media (min-width: 480px) {
          width: 350px;
        }
        @media (min-width: 1024px) {
          width: 320px;
        }
        @media (min-width: 1366px) {
          width: 350px;
        }

        .title {
          font-weight: 600;
          color: #0ef;
          margin-bottom: 10px;
          line-height: 18px;
          font-size: 16px;

          @media (min-width: 425px) {
            font-size: 18px;
          }
          @media (min-width: 768px) {
            margin-bottom: 20px;
          }
        }

        .details {
          font-weight: 300;
          font-size: 14px;

          @media (min-width: 425px) {
            font-size: 16px;
          }
        }

        .tech {
          margin-top: 10px;
          color: rgba(255, 255, 255, 0.637);
          text-decoration: underline;
        }
        .technology_details {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          .each_tech_section {
            position: relative;
            cursor: pointer;
            margin: 30px 0 10px;

            @media (min-width: 425px) {
              margin: 40px 0 20px;
            }

            .tailwind {
              font-size: 20px;
              @media (min-width: 425px) {
                font-size: 25px;
              }
              color: #0ef;
            }
            .scss {
              font-size: 25px;
              @media (min-width: 425px) {
                font-size: 30px;
              }
              color: #ff80ce;
            }
            .material {
              font-size: 25px;
              @media (min-width: 425px) {
                font-size: 30px;
              }
              height: 30px;
            }
            .react {
              font-size: 20px;
              @media (min-width: 425px) {
                font-size: 25px;
              }
              color: #86e8fc;
            }
            .redux {
              font-size: 20px;
              @media (min-width: 425px) {
                font-size: 25px;
              }
              color: #cd52fa;
            }
            .next {
              font-size: 20px;
              @media (min-width: 425px) {
                font-size: 25px;
              }
              color: white;
            }
            .node {
              font-size: 25px;
              @media (min-width: 425px) {
                font-size: 30px;
              }
              color: #90f542;
            }
            .express {
              font-size: 20px;
              @media (min-width: 425px) {
                font-size: 25px;
              }
              font-weight: bolder;
              color: #f8fc03;
            }
            .mysql {
              font-size: 25px;
              @media (min-width: 425px) {
                font-size: 30px;
              }
              font-weight: bolder;
              color: #fca12b;
            }
            .jwt {
              font-size: 18px;
              @media (min-width: 425px) {
                font-size: 25px;
              }
              color: #fa3e67;
            }
            .socket {
              font-size: 22px;
              @media (min-width: 425px) {
                font-size: 30px;
              }
              color: #0ef;
            }
            .mongodb {
              font-size: 22px;
              @media (min-width: 425px) {
                font-size: 30px;
              }
              color: #90f542;
            }
            .firebase {
              font-size: 20px;
              @media (min-width: 425px) {
                font-size: 25px;
              }
              color: #fab83e;
            }
            .stripe {
              font-size: 25px;
              @media (min-width: 425px) {
                font-size: 30px;
              }
              color: #c186fc;
            }
            .tech_name {
              display: none;
            }
          }
          .each_tech_section:hover {
            .tech_name {
              position: absolute;
              display: block;
              font-size: 12px;
              font-weight: 300;
              left: -3px;
              top: -20px;
              color: rgba(255, 255, 255, 0.637);

              @media (min-width: 425px) {
                font-size: 14px;
              }
              animation: tech_name_anim 0.3s ease-out;
              @keyframes tech_name_anim {
                from {
                  top: -5px;
                  opacity: 0;
                }
                to {
                  top: -20px;
                  opacity: 1;
                }
              }
            }
          }
        }

        .link_section {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;

          .link_decoration {
            text-decoration: none;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 6px;
            transition: 0.5s;
            margin-left: 4px;
            margin-right: 16px;
            font-size: 14px;
            font-weight: 300;

            @media (min-width: 425px) {
              font-size: 16px;
            }

            &:hover {
              color: #0ef;
            }
          }
        }
      }
      .project_info:nth-child(1) .project_info:nth-child(3) {
        margin-left: auto;
      }
      .project_info:nth-child(2) {
        margin-right: auto;
      }
    }

    .project_info_section_small:hover .project_info_section_large:hover {
      span {
        position: absolute;
        width: 100%;
        height: 100%;
        background: var(--black5);
        border-radius: inherit;
        opacity: 0.8;
        animation: pulseAnimate 1s ease-out infinite;

        @keyframes pulseAnimate {
          100% {
            opacity: 0;
            transform: scale(2);
          }
        }
      }
    }
  }

  .project_display_container:hover {
    span {
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--black5);
      border-radius: inherit;
      opacity: 0.8;
      animation: pulseAnimate 1s ease-out infinite;

      @keyframes pulseAnimate {
        100% {
          opacity: 0;
          transform: scale(2);
        }
      }
    }
  }
}
