// Navbar section design
.navbar_common {
  width: 200px;
  height: calc(100vh - 60px);
  background-color: var(--black2);
  font-size: 14px;
  position: fixed;
  right: -250px; // Start off-screen (same as width)
  transition: 0.9s;
  display: block;
  // transition: 0.9s;

  @media (min-width: 768px) {
    display: none;
  }

  &.open {
    right: 0; // Slide in
    // opacity: 1;

    @for $i from 1 through 4 {
      .routes:nth-child(4n + #{$i}) {
        text-decoration: none;
        position: absolute;
        top: #{$i * 40}#{"px"};
        left: 20px;
        color: rgba(255, 255, 255, 0.637);
        transition: 0.5s;
        cursor: pointer;
        &:hover {
          color: white;
        }

        animation: smoothmoveleft #{$i * 0.5}#{"s"};
        @keyframes smoothmoveleft {
          from {
            left: 40px;
          }
          to {
            left: 20px;
          }
        }
      }
    }
  }

  &.close {
    right: -250px; // Slide out
    // opacity: 0;

    @for $i from 1 through 4 {
      .routes:nth-child(4n + #{$i}) {
        text-decoration: none;
        position: absolute;
        top: #{$i * 40}#{"px"};
        color: rgba(255, 255, 255, 0.637);
        animation: smoothmoveright #{$i * 0.9}#{"s"};
        @keyframes smoothmoveright {
          from {
            left: 20px;
          }
          to {
            left: 40px;
          }
        }
      }
    }
  }
}

// navbar after open
// .open {
//   // Navigation section design for large device
//   .navigation_section_large {
//     opacity: 1;

//     @for $i from 1 through 4 {
//       .routes:nth-child(4n + #{$i}) {
//         text-decoration: none;
//         position: absolute;
//         top: #{$i * 40}#{"px"};
//         left: 20px;
//         color: rgba(255, 255, 255, 0.637);
//         transition: 0.5s;
//         cursor: pointer;
//         &:hover {
//           color: white;
//         }

//         animation: smoothmoveleft #{$i * 0.5}#{"s"};
//         @keyframes smoothmoveleft {
//           from {
//             left: 40px;
//           }
//           to {
//             left: 20px;
//           }
//         }
//       }
//     }
//   }
// }

// navbar after close
// .close {

//   // Navigation section design for large device
//  .navigation_section_large {
//       // position: relative;
//       // opacity: 0;

//       @for $i from 1 through 4 {
//         .routes:nth-child(4n + #{$i}) {
//           position: absolute;
//           top: #{$i * 40}#{"px"};
//           color: rgba(255, 255, 255, 0.637);
//           animation: smoothmoveright #{$i * 0.5}#{"s"};
//           @keyframes smoothmoveright {
//             from {
//               left: 20px;
//             }
//             to {
//               left: 40px;
//             }
//           }
//         }
//       }
//     }
// }
